html {
  position: relative;
  min-height: 100%;
}

h1 {
  font-size: 300%;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;

}

@media (min-width: 768px) {
  .h1 {
    margin-top: 20px; } }

  .centered{
  margin: auto;
  margin-bottom: 30%;
  height: 50%;
  width: 50%;
  border-radius: 3px;
  margin-bottom: 3%;
  justify-content: center;
  }

  .navbar {
  font-weight: 300; }

@media (min-width: 768px) {
  .navbar {
    margin-top: 30px; } }
.navbar-noah a {
  color: black;
  font-size: 125%; }
.navbar-noah .navbar-toggle .icon-bar {
  background-color: #888; }

  .name{
    margin-bottom: 1%;
  }


  .profile-photo {
  height: 150px;
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 3%;
  display: inline;


  }
  @media (min-width: 768px) {
    .about-photo {
      max-width: 75%; } }


  .home-subtitle {
  margin-bottom: 20px;
  color: black;
  font-weight: 20;
  text-align:center;
}

  .description{
    margin-bottom: 5%;
    color: grey;
    font-weight: 300;
    text-align: center;
  }
  body a,
  body a:hover,
  body a:focus {
    transition: all 0.35s ease; }

  ul {
    list-style-type: none; }
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200; }
